<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <script>
        function togglePwdVis() {
            var x = document.getElementById("password");
            var b = document.getElementById("pwdButton");
            if (x.type === "password") {
                x.type = "text";
                b.innerHTML = "Hide Password";
            } else {
                x.type = "password";
                b.innerText = "Show Password";
            }
        }
    </script>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage || validationErrors) { %>
            <% if (validationErrors.length > 0) { %>
                <% for (let err of validationErrors) { %>
                    <div class="user-message user-message--error"><%= err.param %>
                        : value [ <%= err.value %> ]
                        <%= err.msg %> 
                    </div>
                <% } %>
            <% }  else if (errorMessage && errorMessage.length > 0){ %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
            <% } %>
        <% } %>
        <form class="login-form" action="/new-password" method="POST">
            <div class="centered"><%= userEmail %></div>
            <div class="form-control">
                <label for="password">Password</label>
                <div class="radio-container">
                    <input style="width: 60%"
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%= oldInput.password %>">
                <button class="btn field-btn" id="pwdButton" type="button"
                        onclick="togglePwdVis()">Show Password</button>
            </div>
    </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="userEmail" value="<%= userEmail %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
